@-webkit-keyframes logoPulse {
  0% {
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
  100% {
    -webkit-filter: brightness(2);
            filter: brightness(2);
  }
}

@keyframes logoPulse {
  0% {
    -webkit-filter: brightness(1);
            filter: brightness(1);
  }
  100% {
    -webkit-filter: brightness(2);
            filter: brightness(2);
  }
}

@-webkit-keyframes heroSlide {
  0% {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes heroSlide {
  0% {
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

#hero {
  position: relative;
  z-index: 1;
  overflow: hidden;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scroll-snap-align: start;
  -webkit-box-shadow: 1px 1.5px 5px black;
          box-shadow: 1px 1.5px 5px black;
}

#hero .content {
  margin: 0 5vw;
  -webkit-animation: 1.25s cubic-bezier(0.58, 0, 0.33, 1.25) 0s 1 heroSlide;
          animation: 1.25s cubic-bezier(0.58, 0, 0.33, 1.25) 0s 1 heroSlide;
  font-size: 1rem;
}

#hero .content h1 {
  font-family: 'Noto Serif', 'Times New Roman';
  letter-spacing: 3px;
  text-shadow: -7.5px 1.75px 1.5px rgba(17, 17, 17, 0.75);
  font-size: 5em;
  font-style: italic;
  font-weight: 900;
}

#hero .content h2 {
  max-width: 700px;
  margin: 45px 0 0 30px;
  font-size: 1.3em;
  font-style: italic;
  font-weight: 800;
  text-shadow: -2px 1.25px 1.5px #080808;
}

#hero .content p {
  max-width: 700px;
  margin: 15px 0 0 30px;
  text-align: justify;
  font-size: 1.075em;
  text-shadow: -.5px .25px 2px #2e2e2e;
}

#hero video {
  position: absolute;
  z-index: -1;
  width: 100%;
  -webkit-filter: brightness(110%) saturate(120%);
          filter: brightness(110%) saturate(120%);
}

.banner {
  background: url("../assets/images/arduino2.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.275);
  background-blend-mode: darken;
  -webkit-filter: saturate(120%);
          filter: saturate(120%);
  background-position: bottom;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.banner:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

header {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 25px 0 0 2px;
  -webkit-transition: background ease-in 350ms, padding ease-in 350ms;
  transition: background ease-in 350ms, padding ease-in 350ms;
}

header a {
  -webkit-transition: color ease-in 350ms;
  transition: color ease-in 350ms;
  text-shadow: 1.375px 1.375px 2px #111;
}

header.stick {
  background: #111;
  padding: 0;
  -webkit-box-shadow: 0px 1px 3px black;
          box-shadow: 0px 1px 3px black;
}

header.stick a {
  text-shadow: none;
}

#lwl-img {
  float: none;
  max-width: 600px;
}

.info-box {
  border-radius: 6px;
  background: #111;
  padding: 20px 15px;
  margin: 20px;
  width: calc(100% - 70px - 40px);
  margin-bottom: 40px;
  overflow: hidden;
  -webkit-transition: max-height .66s ease-in-out;
  transition: max-height .66s ease-in-out;
  scroll-snap-align: start;
}

.info-box .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: 'h4 h4' 'list fig';
  margin-bottom: 15px;
}

.info-box .content h4 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: h4;
  margin: 0 10px;
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  border: 2px solid #43a4f3;
  padding: 8px;
  cursor: pointer;
}

.info-box .content h4:before {
  content: '';
  position: absolute;
  top: 6px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 12px);
  background: #111;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.info-box .content h4:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 6px;
  width: calc(100% - 12px);
  height: calc(100% + 4px);
  background: #111;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.info-box .content h4:hover:before {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.info-box .content h4:hover:after {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.info-box .content h4 span {
  position: relative;
  text-align: center;
  z-Index: 3;
  font-weight: 900;
  color: #43a4f3;
  font-size: 1.15em;
}

.info-box .content ul {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: list;
  list-style-type: disc;
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-box .content ul li {
  width: 350px;
  margin-bottom: 14px;
  text-align: left;
  font-size: 1.1em;
  list-style-type: disc;
  color: white;
}

.info-box .content figure {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: fig;
  float: none;
  margin: 0 20px;
  max-height: 350px;
}

.info-box[data-isExpanded="true"] .content h4:before {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.info-box[data-isExpanded="true"] .content h4:after {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.info-box[data-isExpanded="true"] .content h4:hover:before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

.info-box[data-isExpanded="true"] .content h4:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.info-box figcaption {
  line-height: 14px;
  color: white;
}

.info-box .gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: auto auto auto;
      grid-template-rows: auto auto auto;
      grid-template-areas: 'h5 h5 h5 h5 h5 h5' 'f1 f2 f3 f4 f5 f6';
}

.info-box .gallery h5 {
  margin: 0 10px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: h5;
  font-weight: 900;
  font-size: 1.15em;
  color: #43a4f3;
}

.info-box .gallery figure {
  float: none;
  margin: 0 10px;
  margin-top: 15px;
}

.info-box .gallery figure img {
  max-height: 100px;
}

.info-box .gallery figure:nth-of-type(1) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: f1;
}

.info-box .gallery figure:nth-of-type(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: f2;
}

.info-box .gallery figure:nth-of-type(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: f3;
}

.info-box .gallery figure:nth-of-type(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: f4;
}

.info-box .gallery figure:nth-of-type(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: f5;
}

.info-box .gallery figure:nth-of-type(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
  grid-area: f6;
}

.info-box .gallery {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: 'h5 h5 h5' 'f1 f2 f3';
}
/*# sourceMappingURL=index.css.map */